.stApp
{
    background: linear-gradient(
    135deg,
    #f0bbe3 0%,
    #dff1b1 50%,
    #abcbea 100%
    );
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}
.card
{
    background-color: #3787dd;
    padding:25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}
h1,h2,h3
{
    color:#0f172a;
}
/* Metric box */
div[data-tesstid="metric-container"]
{
    background-color: #bed1e4;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.prediction-box
{
    background: linear-gradient(
    135deg,
    #baedcc,
    #bbf7d0,
    );
    padding:22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #2b3132;
    margin-top: 15px;
}